body {
  font-family: "Rubik", sans-serif;
  background-color: #d1d1d1;
}

.container {
  max-width: 700px;
  margin-top: 100px;
}

.weather-box {
  max-width: 700px;
  background-image: url("../images/weathersunny.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  padding: 30px 30px 30px 30px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#search-form {
  display: inline;
}

#description {
  text-transform: capitalize;
}

.s-button {
  border-radius: 30px 30px 30px 30px;
  opacity: 90%;
}

h2 {
  padding-top: 40px;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 0px;
  line-height: 0.9;
}

h1 {
  margin-top: 0px;
  font-weight: 500;
  font-size: 80px;
  margin-bottom: 0px;
}

.week-forecast {
  background-color: rgb(255, 255, 255, 80%);
  padding: 25px 25px 40px 30px;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

footer {
  padding-top: 10px;
  text-align: center;
}

.sass {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    padding-left: 0px;
  }
  50% {
    padding-left: 10px;
  }
  100% {
    padding-left: 0px;
  }
}
